/* styles.css */

body {
  /* same color as my favorite mushroom! */
  background-color: #92a8d1;
}
h1 {
  color: blue;
  text-align: center;
}
p {
  color: powderblue;
  font-family: verdana;
  text-align: center;
}