.card-grid {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fill, 28vw);
    row-gap: 21vw;
    column-gap: 1vw;
    margin: 2vh 5vw 2vh 5vw;
    padding: 1vh;
}
.image-style {
    object-fit: cover;
    width: 28vw;
    height: 20vw;
    border-radius: 5px;
}
.text {
    padding: 20px;
}