/* styles.css */
body {
  /* same color as my favorite mushroom! */
  background-color: #92a8d1;
}
h1 {
  color: darkblue;
  text-align: center;
}
.flexbox {
  display:flex;
  justify-content:center;
}
.slideshow-container {
  position: relative;
  margin-bottom: 10px;
  text-align: center;
}
/* Hide the images by default */
.mySlides {
  display: none;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  width: 100%;
  text-align: center;
}
img {
  max-width: 1000px;
  max-height: 350px;
}
h2 {
  color: darkblue;
  text-align: center;
  font-family: 'Times New Roman';
}
.arrows {
  color: white;
  border: 1px solid;
  background-color: #6A87C4;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  margin-left: 40px;
  margin-right: 40px;
}
.question {
  color: white;
  font-size: 30px;
  margin-left: 180px;
}
.answer {
  color: white;
  font-size: 20px;
  margin-left: 180px;
}

/* Position the "next button" to the right */
#random {
  color: powderblue;
  font-family: verdana;
  text-align: center;
}
a:link {
  color: antiquewhite; 
  background-color: transparent; 
  text-decoration: none;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: aquamarine;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: aqua;
  background-color: transparent;
  text-decoration: underline;
}

button {
  color: plum;
}