/* styles.css */

body {
  /* same color as my favorite mushroom! */
  background-color: #92a8d1;
  align-content: center;
  align-items: center;
  margin: auto;
  text-align: center;  
}
h1 {
  color: darkblue;
  text-align: center;
}
.akimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
h2 {
  color: darkblue;
  text-align: center;
  font-family: 'Times New Roman';
}
p {
  color: powderblue;
  font-family: verdana;
  text-align: center;
}
a:link {
  color: antiquewhite; 
  background-color: transparent; 
  text-decoration: none;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: aquamarine;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: aqua;
  background-color: transparent;
  text-decoration: underline;
}

button {
  color: plum;
}